body {
    background: rgba(70, 70, 248, 0.8);
}

#title, .subtitle{
    color: rgb(240, 213, 61);
}

.bottom_image{
    border-radius: 30%;
    border: 5px solid rgb(240, 213, 61);
    margin: 15px;
}

.posttitle{
    color: rgb(34, 77, 62);
    font-size: 25px;
    font-style: italic;
    font-weight: 250px;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background: #ffff;
    padding: 15px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 0.5%;
    text-align: justify;
    margin-bottom: 15px;
    
}

.postcontent{
    margin: 0;
    margin-bottom: 15px;

}

.post_image{
    margin-bottom: 15px;
}